[Unit]
Description=One-time Printer Setup
After=network.target cups.service

[Service]
Type=oneshot
ExecStart=/home/admin/snappic-print-server/scripts/printer-setup.sh
User=admin
Group=admin

[Install]
WantedBy=multi-user.target